legend{
    color: blueviolet;
}
label{
    color: purple;
    font-size: large;
}
input{
    background-color: rgb(232, 215, 215);
    color: purple;
}

button{
    background-color: rgb(54, 9, 54);
    color: white;
}
form{
    text-align: center;
}
fieldset{
    background-color: lightyellow;
    border: 2px solid purple;
    width: 500px;
    height: 300px;
}